* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://wiki.guildwars2.com/images/9/97/Spirit_Vale_loading_screen.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}

.guide {
  position: absolute;
  width: 550px;
  height: 800px;
  background-color: rgba(0, 0, 0, 0);
  left: 50%;
  margin-left: -275px;
  margin-top: -6.7rem;
  z-index: -1;
  color: white;
  display: flex;
  flex-direction: column;
}
  .titleSection {
    position: absolute;
    width: 480px;
    left: 50%;
    margin-left: -240px;
    margin-top: -6.9rem;
    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 10;
  }
    .titleSection h1 {
      margin: auto;
      font-size: 2.5rem;
      text-shadow: 3px 1px black;
      text-decoration: underline;
      cursor: pointer;
    }
  .innerGuide {
    margin: auto;
    margin-top: 6rem;
    font-size: 1.5rem;
    padding: 3rem;
    display: none;
  }

.wrapper {
  margin: auto;
  width: 550px;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.753);
  padding: 1.5rem;
}

canvas {
  margin: auto;
  background-color: rgb(0, 0, 0);
  cursor: crosshair;
  z-index: 1;
}

/* images */
.images {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

#bossHP {
  width: 20rem;
  height: 1.5rem;
  border: 1px solid white;
  margin: auto;
  margin-bottom: .3rem;
  background-color: black;
}

#bossHPInner {
  width: 100%;
  height: 100%;
  background-color: red;
}
  #breakBar {
    width: 60%;
    height: 1.25rem;
    margin: .3rem auto;
    border: 1px solid white;
  }
  #breakBarInner {
    background-color: grey;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

#notePad {
  position: absolute;
  background-color: white;
  height: 5rem;
  overflow-y: scroll;
}

#playerUI {
  width: 480px;
  height: 100px;
  margin: auto;
  display: flex;
}

.playerUIWrapper {
  display: flex;
  margin: auto;
}

.playerSkill {
  width: 4rem;
  height: 4rem;
  margin: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
  #skill1 {
    background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/870423375594545152/auto1.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  #skill2 {
    background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/870423379465883688/skill2.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  #skill3 {
    background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/870423381273640990/skill3.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  #skill4 {
    background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/870423374524973096/skill4.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
    .cDBox {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 1);
      transition: 0.1s;
      display: flex;
    }
    .cDBoxNum {
      position: absolute;
      margin-top: -3.2rem;
      margin-left: 0.7rem;
      font-size: 2rem;
      color: greenyellow;
      text-shadow: 1px 1px black;
      font-weight: bold;
      width: 2rem;
    }

#playerHealth {
  width: 5.5rem;
  height: 5.5rem;
  border: 2px solid black;
  background-color: black;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/878951175821602866/healthbg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: flex;
  transform: rotate(180deg);
  color: rgb(0, 255, 255);
}
  #playerHealthNumber {
    margin: auto;
    width: 3rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transform: rotate(180deg);
  }

  #pressF5lol {
    display: none;
    height: 480;
    width: 480;
    border: 1px solid red;
    margin: auto;
    font-size: 3rem;
    background-color: white;
  }